<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="wrapper">
    <div class="row">
      <div class="column" id="leftColumn">
        <div class="dropdown">
          <div class="dropbtn">{{defaultState}} (Hover for Dropdown)</div>
          <div class="dropdown-content">
            <div class="dropper" *ngFor="let state of states">
              <p (click)="initialLocations(state.abbreviation)">{{state.name}}</p>
            </div>
          </div>
        </div>
        <div id="locationPlace">
          <h4>Locations in {{defaultState}}</h4><button (click)="favState(defaultState)">Make this your preferred state</button>
          <div *ngFor="let location of locations" class="infoDiv">
              <div class="infoRow" (click)="newAddress(location.address)">
                <p>-----------------------</p>
                <p>{{location.address}} </p>
                <p> {{location.city}}, {{location.state}}  {{location.zip}}</p>
                <p> {{location.fax}}</p>
              </div>
          </div>
        </div>
      </div>
      <div class="column" id="rightColumn">
        <h3>Hours</h3>
        <p>Monday: {{hours.monOpenTime}} - {{hours.monCloseTime}}</p>
        <p>Tuesday: {{hours.tueOpenTime}} - {{hours.tueCloseTime}}</p>
        <p>Wedneday: {{hours.wedOpenTime}} - {{hours.wedCloseTime}}</p>
        <p>Thursday: {{hours.thuOpenTime}} - {{hours.thuCloseTime}}</p>
        <p>Friday: {{hours.friOpenTime}} - {{hours.friCloseTime}}</p>
        <p>Saturday: {{hours.satOpenTime}} - {{hours.satCloseTime}}</p>
        <p>Sunday: {{hours.sunOpenTime}} - {{hours.sunCloseTime}}</p>
      </div>
    </div>
  </div>  
  
</body>
</html>




